{
    "mysql_password": {
        "db_type": "MYSQL",
        "auth_type": "PASSWORD",
        "auth_details": {
            "db_hostname": "",
            "db_username": "",
            "db_password": "",
            "db_schema": "",
            "db_port": 3306,
            "db_ssl": null
        },
        "maximum_threads": 15,
        "maximum_rows_per_thread": 10000
    },
    "mysql_iam": {
        "db_type": "MYSQL",
        "auth_type": "IAM",
        "auth_details": {
            "db_hostname": "",
            "db_username": "",
            "db_schema": "",
            "db_port": 3306,
            "db_ssl": null
        },
        "maximum_threads": 15,
        "maximum_rows_per_thread": 10000
    },
    "mysql_glue_connector": {
        "db_type": "MYSQL",
        "auth_type": "GLUE_CONN",
        "auth_details": {
            "glue_connector_name": "",
            "db_ssl": null
        },
        "maximum_threads": 15,
        "maximum_rows_per_thread": 10000
    }
}
